kendo-dropdownlist {
  width: 170px;
  color:white;
  background:green;
 border-radius: 4em;



}
p{
font-size:20px;
font-weight:500px;
text-transform:uppercase;
color:blue;
}
* {
font-family: sans-serif;
font-weight: bold;
color: #0f0f0f;
border-color: #0f0f0f;
}
.row {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: fit-content;
  min-width: fit-content;
  padding: 2em;
  border-radius: 1em;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.2);
  background-color: gray;
  flex: 1;
  position: absolute;
  margin:2em;
 
}
